doctype html
html(lang='en')
  head
    include components/core/head
  body
    h1 Oh hi, Mark!
    include components/module
    include components/another-module
    include components/core/scripts
